/* Fonts */
@font-face {
    font-family: 'FF Tisa';
    src: url('../fonts/TisaSansPro-Regular.woff');
    font-weight: 300;
    font-style: normal;
}
/* Base CSS */
#myVideo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  bottom: 0;
}

body {
  margin: 0;
}

.container {
  font-family: 'FF Tisa';
	display: grid;
  width: 63%;
  margin: auto;
  background-color: rgba(52, 65, 74, 0.8);
  backdrop-filter: blur(5px);
  margin-bottom: 4rem;
}

.navbar{
  background-color: rgba(27, 29, 33, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}

.navbar a{
  padding: 0.8rem 1rem 0.8rem;
  display: inline-block;
  font-size: 1.1rem;
}

a{
  text-decoration: none;
  color: white;
}

body{
  color: white;
}

.header {
  display: flex;
}

#main-title{
  margin-top: 10%;
  margin-bottom: -3%;
  font-size: 2.5rem;
}

#main-subtitle{
  color: #898989;
  font-style: italic;
  font-size: 0.9rem;
}

#avatar {
  margin: 1rem 2rem 1rem;
}

.main {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  line-height: 1.6rem;
}

.content {
  margin: 1rem 2rem 1rem;
}

.footer {
  padding: 0.9rem;
  background-color: rgba(27, 29, 33, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  margin-top: 2rem;
}

.divider {
  border-color: #8feef5;
}

p, blockquote {
  background-color: rgba(27, 29, 33, 1);
  padding: 0.75rem;
  border-radius: 0.75rem;
}

.blog-title{
    text-align: center;
}

/* Aside  */
.mobile-divider {
  display: none;
}

.aside {
  margin: 1rem 2rem 1rem;
  text-align: center;
}

blockquote {
  font-style: italic;
  font-size: 0.8rem;
}

/* Index Page */
.intro-article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.intro-article img{
  width: 15%;
}

.intro-article p{
  width: 45%;
}

.guestbook {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Page */

table {
  font-size: 1rem;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  background-color: #191c1f;
  padding: 2rem;
  width: 75%;
}
th {
    font-size: 1.2rem;
    font-weight: bold;
}

td, th{
    padding: 5px;
    border: 1px solid #898989;
}

/* Blog Page */

ul{
  padding: 0;
  margin-left: 2rem;
}

/* Media Queries */
@media only screen and (max-width: 600px){
  /* Base CSS */

  #avatar {
    min-width: 25%;
  }

  .container{
    width: 100%;
    margin-bottom: 0;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mobile-divider {
    border-color: #8feef5;
    display: block;
  }

  /* Index Page */
  .intro-article img{
    width: 25%;
  }

  .intro-article p{
    width: 100%;
  }

  /* About Page */
  table {
    width: 100%;
  }

  /* Removing Video Background */
  video {
    display: none;
  }

  body{
    background-color: #335f89;
  }
}
