{% extends "base.html" %}

{% block content %}

<article class="intro-article">
   <img src="https://media.tenor.com/bdpAKWSRdAYAAAAi/gato-wishes-cat.gif"/>
   <p>Hello there, my name is Shivam Patel . Welcome to my mini dimension of the internet</p>
</article>
<article>
  <h4>Recent Blogs</h4>
  <ul>
    {% set posts = get_section(path="./blog/_index.md") %}
    {% for page in posts.pages | slice(end=3) %}
    <li>[{{ page.date }}] <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
</article>
<article>
  <h4>Games Currently Playing</h4>
  <ul>
	<li>Marvel's Guardians of the Galaxy</li>
    <li>The Legend of Zelda: Ocarina of Time</li>
    <li>Watch Dogs 2</li>
    <li>Sekiro: Shadows Die Twice</li>
    <li>Divinity: Original Sin</li>
    <li>Cyberpunk 2077</li>
    <li>Middle Earth: Shadow of Mordor</li>
  </ul>
</article>
<br>
<article class="guestbook">
  <a href="https://shivampatel.123guestbook.com/" target="_blank">
    <img alt="guestbook" src="/images/guestbook.gif" width="100px">
    <br>
    Sign my Guestbook!
  </a>
</article>
{% endblock content %}
